/* Making the main area with the scrolling image and the text */

.hero {
  position: relative;
  height: 500px;
  background-image: url(../images/shop2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
  display: flex;

  .callout {
    color: #EB5406;
    margin: auto;
    font-size: 48px;
  }
}